* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: Sofia-Pro;
	src: url(assets/sofia_pro_bold.otf);
	font-weight: 700;
}

@font-face {
	font-family: Sofia-Pro;
	src: url(assets/sofia_pro_regular.otf);
	font-weight: 400;
}

$highlight: #527aff;
$unselected: #bdbdbd;
$placeholder: #828282;
$subtext: #cccccc;
$chatbubble: #e0e0e0;
$grayDark: #888;
$grayLight: #c4c4c4;
$error: #f05056;

$a: #12eb9d;

a {
	text-decoration: none;
	color: #000;
	// disable text highlighting in button
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html {
	margin: 0 !important;
	padding: 0 !important;
	font-family: 'Sofia-Pro';
	width: 100%;
	font-size: 16px;
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0 !important;
	padding: 0 !important;
	font-family: 'Sofia-Pro';
	width: 100%;
	height: 100%;

	.fullsize {
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: start;
		// white-space: nowrap;
	}

	.cover {
		background-image: url('./assets/cover.svg');
		background-size: 110%;
		background-position: center;
	}

	.allcenter {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.button {
	cursor: pointer;
	background: $highlight;
	color: white;
	position: relative;
	display: inline-block;
	font-size: 1.5em;

	height: 1.7em;

	margin-top: 0.5em;
	margin-left: 0.25em;
	margin-right: 0.25em;
	margin-bottom: 0.5em;
	padding-top: 0.3em;
	padding-left: 2em;
	padding-right: 2em;

	border-radius: 2em;
	border: none;

	// disable text highlighting in button
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	// handle hover + click animation
	transition: box-shadow 0.1s;
	box-shadow: 1px 2px 8px $grayLight;
	&:hover {
		transition: 0.1s;
		box-shadow: 1px 3px 12px $grayDark;
	}
	&:active {
		transition: 0.1s;
		box-shadow: 1px 2px 8px $grayLight;
	}
}

.loading-spinner {
	display: inline-block;
	width: 1em;
	height: 1em;
	position: absolute;
	top: 0.45em;
	right: 0.5em;
	opacity: 0;
	transition: opacity 0.3s;

	// these supposedly get rid of weird aliasing effects
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;

	&.on {
		opacity: 1;
		transition: opacity 0.3s;
	}

	&:after {
		content: ' ';
		display: block;
		width: 0.75em;
		height: 0.75em;
		margin: 1px;
		border-radius: 50%;
		border: 3px solid #fff;
		border-color: #fff #fff #fff transparent;
		animation: lds-dual-ring 1.2s linear infinite;
	}

	@keyframes lds-dual-ring {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

img {
	&.logo {
		height: 1em;
		position: relative;
		left: -50%;
	}
}

.textbox {
	position: relative;
}

input {
	border: 3px solid $unselected;
	border-radius: 2em;
	outline: none;
	font-family: 'Sofia-Pro';
	transition: 0.3s;
	&:focus,
	&:not(:focus):valid {
		transition: 0.3s;
		border: 3px solid $highlight;
	}

	&:focus ~ .floating-label,
	&:not(:focus):valid ~ .floating-label {
		color: $highlight;
		top: -18px;
		transform: none;
		height: 1em;
		left: 20px;
		font-size: 14px;
		//background: white;
		margin-bottom: 0.5em;
		padding-top: 0.5em;
		margin-left: 0.5em;
		padding-left: 1em;
		padding-right: 1em;
		opacity: 1;
		z-index: 1;
	}

	&:focus ~ .blocker,
	&:not(:focus):valid ~ .blocker {
		transition: width 0.3s;
		border: 2px solid white;
	}

	&:required {
		box-shadow: none;
	}
}

.blocker {
	position: absolute;
	height: 0;
	width: 0;
	transition: 0.3s;
	top: 0;
	left: 2em;
	border: 0px solid white;
}

.inputText {
	outline: none;
	font-size: 20px;
	width: 16em;
	padding: 0;
	padding-left: 1.5em;
	padding-right: 1.5em;
	height: calc(2.5em - 8px);
}

.floating-label {
	color: $placeholder;
	font-size: 1.2em;

	position: absolute;
	pointer-events: none;
	left: 1.5em;
	top: 50%;
	transform: translateY(-50%);
	transition: 0.2s ease all;
	z-index: 1;
}

h1 {
	font-size: 4em;
	font-weight: bold;
	margin: 0;
}

h2 {
	font-size: 3em;
	font-weight: bold;
	margin: 0;
}

h4 {
	font-weight: 400;
	font-size: 1.5em;
	margin: 0;
}

h5 {
	font-weight: 400;
	font-size: 1em;
	margin: 0;
	color: $subtext;
}

i {
	// disable text highlighting in button
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.sidebar {
	display: inline-block;
	width: 12em;
	height: calc(100% - 4em);
	position: relative;
	padding-top: 4em;

	.menu {
		font-size: 2em;
		cursor: pointer;
		margin-right: 1em;
	}

	&.open {
		width: 40em;
		transition: 0.5s ease all;
	}

	transition: 0.5s ease all;

	.menu-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		position: absolute;
		left: -16em;
		width: 26em;
		transition: 0.5s ease all;

		&.open {
			left: 2em;
		}

		h1 {
			margin-left: 1em;
		}
	}

	.menu-content {
		position: absolute;

		a {
			cursor: pointer;

			&.highlight {
				color: $highlight;
			}
		}

		h2 {
			margin-top: 0.1em;
			margin-bottom: 0.1em;

			margin-left: 0em;
			transition: 0.3s ease margin-left;
			&:hover {
				margin-left: 0.5em;
				transition: 0.3s ease margin-left;
			}
		}

		left: -16em;
		top: 16em;
		&.open {
			left: 6em;
		}
		transition: 0.5s ease all;
	}
}

.content {
	font-size: 16px;
	display: inline-block;
	width: calc(100% - 12em);
	height: calc(100%-4em);
	padding-top: 4em;
	padding-right: 6em;

	h1 {
		margin: 0;
	}
}

table {
	text-align: left;
	width: 100%;
	margin-top: 1em;
	thead {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		tr {
			th {
				cursor: pointer;
				color: black;
				transition: 0.2s ease all;
				&:hover {
					color: $highlight;
					transition: 0.2s ease all;
				}
			}
		}
	}
	tr {
		th {
			font-size: 2em;
			position: relative;
		}
		td {
			font-size: 2em;
		}
		td:last-of-type,
		th:last-of-type {
			text-align: right;
			width: 8em;
		}
		td:first-of-type,
		th:first-of-type {
			width: 6em;
		}
		td,
		th {
			height: 2em;
		}
	}
	tbody {
		tr {
			font-size: 0.75em;
			transition: 0.2s ease all;

			&:hover {
				color: $highlight;
				transition: 0.2s ease all;
			}
			cursor: pointer;
		}
		// overflow-y: scroll;
	}
}

.quarter-selector {
	h1 {
		margin: 0;
	}
	position: absolute;
	top: 4em;
	right: 6em;

	a {
		color: $unselected;
		cursor: pointer;
		font-size: 3.5em;
		font-weight: bold;
		margin-left: 0.5em;

		&:hover,
		&.highlight {
			color: $highlight;
		}
	}
}

.course-info-pane {
	width: 28em;
	padding-top: 2em;
	position: relative;
	height: calc(100% - 8em);
	h3 {
		// disable text highlighting in button
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		cursor: pointer;
		color: $unselected;
		transition: 0.2s ease all;
		&:hover,
		&.highlight {
			color: $highlight;
			transition: 0.2s ease all;
		}

		font-size: 2em;
		margin: 0;
	}
}
