@font-face {
	font-family: Sofia-Pro;
	src: url(assets/sofia_pro_bold-webfont.woff2);
	font-weight: 700;
}

@font-face {
	font-family: Sofia-Pro;
	src: url(assets/sofia_pro_regular-webfont.woff2);
	font-weight: 400;
}

@font-face {
	font-family: Sofia-Pro;
	src: url(assets/sofia_pro_medium-webfont.woff2);
	font-weight: 500;
}

$highlight: #527aff;
$unselected: #bdbdbd;
$placeholder: #828282;
$subtext: #cccccc;
$chatbubble: #e0e0e0;
$grayDark: #888;
$grayLight: #c4c4c4;
$error: #f05056;

$a: #12eb9d;

* {
	// supposedly antialiases stuff
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	// page dimensions
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
	height: 100%;
	overflow: hidden;

	// font
	font-family: 'Sofia-Pro';
	font-size: 16px;
	color: #000;
}

body {
	// more screen dimensions
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
	height: 100%;

	// root element of every react page
	.fullsize {
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: start;
	}

	// pages w/ the splash cover svg
	.cover {
		background-image: url('./assets/cover.svg');
		background-size: 110%;
		background-position: center;
	}

	// pages w/ vertical and horizontal centering
	.allcenter {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

@mixin noselect() {
	// disable text highlighting in button
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

$shadowIdle: 1px 2px 8px $grayLight;
$shadowClicked: 1px 3px 12px $grayDark;
$shadowHover: 1px 2px 8px $grayLight;

// button component
$buttonMargin: 0.5em;
$buttonHeight: 1.7em;
$buttonPadding: 2em;

.button {
	@include noselect();
	cursor: pointer;
	background: $highlight;
	color: white;
	position: relative;
	display: inline-block;

	font-size: $buttonHeight;
	height: $buttonHeight;

	margin-top: $buttonMargin;
	margin-left: $buttonMargin;
	margin-right: $buttonMargin;
	margin-bottom: $buttonMargin;

	padding-left: $buttonPadding;
	padding-right: $buttonPadding;

	border-radius: $buttonHeight / 2;
	border: none;

	// handle hover + click animation
	transition: 0.2s ease box-shadow;
	box-shadow: $shadowIdle;
	&:hover {
		box-shadow: $shadowHover;
	}
	&:active {
		box-shadow: $shadowClicked;
	}

	.loading-spinner {
		display: inline-block;
		width: 1em;
		height: 1em;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: $buttonHeight / 4;
		opacity: 0;
		transition: opacity 0.3s;

		&.on {
			opacity: 1;
			transition: opacity 0.3s;
		}

		&:after {
			content: ' ';
			display: block;
			width: 0.75em;
			height: 0.75em;
			margin: 1px;
			border-radius: 50%;
			border: 3px solid #fff;
			border-color: #fff #fff #fff transparent;
			animation: lds-dual-ring 1.2s linear infinite;
		}

		@keyframes lds-dual-ring {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}
}

img {
	&.logo {
		height: 1em;
		position: relative;
		left: -50%;
	}
}

.textbox {
	position: relative;

	input {
		border: 3px solid $unselected;
		border-radius: 2em;
		outline: none;
		font-family: 'Sofia-Pro';
		transition: 0.3s;
		box-shadow: none;

		outline: none;
		font-size: 1.25em;
		width: 16em;
		padding: 0;
		padding-left: 1.5em;
		padding-right: 1.5em;
		height: calc(2.5em - 8px);

		&:focus,
		&:not(:focus):valid {
			transition: 0.3s;
			border: 3px solid $highlight;
		}

		&:focus ~ .floating-label,
		&:not(:focus):valid ~ .floating-label {
			color: $highlight;
			top: -0.75em;
			height: 1em;
			left: 2.5em;
			font-size: 1em;
			z-index: 1;
		}
	}

	.blocker {
		position: absolute;
		top: 0;
		left: 2em;

		height: 3px;
		width: 0;
		background: white;

		transition: 0.3s;
	}

	.floating-label {
		color: $placeholder;
		font-size: 1.25em;
		position: absolute;
		pointer-events: none;
		left: 1.5em;
		top: 0.4em;
		transition: 0.3s;
		z-index: 1;
	}
}

a {
	cursor: pointer;
	color: black;
	text-decoration: none;
	font-weight: bold;

	&.highlight {
		color: $highlight;
	}
}

h1 {
	font-size: 4em;
	font-weight: bold;
	margin: 0;
}

h2 {
	@extend h1;
	font-size: 3em;
	// font-weight: bold;
	// margin: 0;
}

h4 {
	@extend h1;
	font-weight: 500;
	font-size: 1.5em;
}

h5 {
	@extend h4;
	font-size: 1em;
	color: $subtext;
}

i {
	@include noselect();
}

.sidebar {
	position: relative;
	display: inline-block;

	width: 8em;
	height: calc(100% - 4em);

	padding-top: 4em;

	transition: 0.5s;

	&.open {
		width: 40em;
	}

	// the menu icon
	.menu {
		font-size: 2em;
		cursor: pointer;
		position: absolute;
		right: 1em;
		top: 3em;
	}

	.menu-content {
		position: absolute;

		h2 {
			margin: 0;
			margin-top: 0.1em;
			margin-bottom: 0.1em;

			transition: 0.3s;
			&:hover {
				margin-left: 0.25em;
			}
		}

		left: -16em;
		&.open {
			left: 6em;
		}
		transition: 0.5s;
	}
}

// this is the real page content (not the sidebar)
.content {
	display: inline-block;
	width: calc(100% - 12em);
	height: calc(100% - 4em);
	padding-top: 4em;
	padding-right: 6em;
}

table {
	text-align: left;
	width: 100%;
	margin-top: 1em;
	thead {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		tr {
			th {
				cursor: pointer;
				color: black;
				transition: 0.2s ease all;
				&:hover {
					color: $highlight;
					transition: 0.2s ease all;
				}
			}
		}
	}
	tr {
		th {
			font-size: 2em;
			position: relative;
		}
		td {
			font-size: 2em;
		}
		td:last-of-type,
		th:last-of-type {
			text-align: right;
			width: 8em;
		}
		td:first-of-type,
		th:first-of-type {
			width: 6em;
		}
		td,
		th {
			height: 2em;
		}
	}
	tbody {
		tr {
			font-size: 0.75em;
			transition: 0.2s ease all;

			&:hover {
				color: $highlight;
				transition: 0.2s ease all;
			}
			cursor: pointer;
		}
		// overflow-y: scroll;
	}
}

.quarter-selector {
	h1 {
		margin: 0;
	}
	position: absolute;
	top: 4em;
	right: 6em;

	a {
		color: $unselected;
		font-size: 3.5em;
		margin-left: 0.5em;

		&:hover,
		&.highlight {
			color: $highlight;
		}
		transition: 0.3s;
	}
}

.course-info-pane {
	width: 28em;
	padding-top: 2em;
	position: relative;
	height: calc(100% - 8em);
	h3 {
		// disable text highlighting in button
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		cursor: pointer;
		color: $unselected;
		transition: 0.2s ease all;
		&:hover,
		&.highlight {
			color: $highlight;
			transition: 0.2s ease all;
		}

		font-size: 2em;
		margin: 0;
	}
}
