@font-face {
	font-family: Sofia-Pro;
	src: url(assets/sofia_pro_bold-webfont.woff2);
	font-weight: 700;
}

@font-face {
	font-family: Sofia-Pro;
	src: url(assets/sofia_pro_regular-webfont.woff2);
	font-weight: 400;
}

@font-face {
	font-family: Sofia-Pro;
	src: url(assets/sofia_pro_medium-webfont.woff2);
	font-weight: 500;
}

$highlight: #527aff;
$unselected: #bdbdbd;
$placeholder: #828282;
$subtext: #cccccc;
$chatbubble: #e0e0e0;
$grayDark: #888;
$grayLight: #c4c4c4;
$error: #f05056;

$a: #12eb9d;

* {
	// supposedly antialiases stuff
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	// page dimensions
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
	height: 100%;
	overflow: hidden;

	// font
	font-family: 'Sofia-Pro';
	font-size: 16px;
	color: #000;
}

body {
	// more screen dimensions
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
	height: 100%;

	// root element of every react page
	.fullsize {
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: start;
	}

	// pages w/ the splash cover svg
	.cover {
		background-image: url('./assets/cover.svg');
		background-size: 110%;
		background-position: center;
	}

	// pages w/ vertical and horizontal centering
	.allcenter {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

@mixin noselect() {
	// disable text highlighting in button
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

$shadowIdle: 1px 2px 8px $grayLight;
$shadowClicked: 1px 3px 12px $grayDark;
$shadowHover: 1px 2px 8px $grayLight;

// button component
$buttonMargin: 0.5em;
$buttonHeight: 1.7em;
$buttonPadding: 2em;

.highlight {
	color: $highlight;
}

.button {
	@include noselect();
	cursor: pointer;
	background: $highlight;
	color: white;
	position: relative;
	display: inline-block;

	font-size: $buttonHeight;
	height: $buttonHeight;

	margin-top: $buttonMargin;
	margin-left: $buttonMargin;
	margin-right: $buttonMargin;
	margin-bottom: $buttonMargin;

	padding-left: $buttonPadding;
	padding-right: $buttonPadding;

	border-radius: $buttonHeight / 2;
	border: none;

	// handle hover + click animation
	transition: 0.2s ease box-shadow;
	box-shadow: $shadowIdle;
	&:hover {
		box-shadow: $shadowHover;
	}
	&:active {
		box-shadow: $shadowClicked;
	}

	.loading-spinner {
		display: inline-block;
		width: 1em;
		height: 1em;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: $buttonHeight / 4;
		opacity: 0;
		transition: opacity 0.3s;

		&.on {
			opacity: 1;
			transition: opacity 0.3s;
		}

		&:after {
			content: ' ';
			display: block;
			width: 0.75em;
			height: 0.75em;
			// margin: 1px;
			border-radius: 50%;
			border: 3px solid #fff;
			border-color: #fff #fff #fff transparent;
			animation: lds-dual-ring 1.2s linear infinite;
		}

		@keyframes lds-dual-ring {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}
}

.logowrapper {
	position: absolute;
	left: 50%;
	bottom: 2em;

	img {
		&.logo {
			height: 1em;
			position: relative;
			left: -50%;
		}
	}
}

.textbox {
	position: relative;

	input {
		border: 3px solid $unselected;
		border-radius: 2em;
		outline: none;
		font-family: 'Sofia-Pro';
		transition: 0.3s;
		box-shadow: none;

		outline: none;
		font-size: 1.25em;
		width: 16em;
		padding: 0;
		padding-left: 1.5em;
		padding-right: 1.5em;
		height: calc(2.5em - 8px);

		&:focus,
		&:not(:focus):valid {
			transition: 0.3s;
			border: 3px solid $highlight;
		}

		&:focus ~ .floating-label,
		&:not(:focus):valid ~ .floating-label {
			color: $highlight;
			top: -0.75em;
			height: 1em;
			left: 2.5em;
			font-size: 1em;
			z-index: 1;
		}
	}

	.blocker {
		position: absolute;
		top: 0;
		left: 2em;

		height: 3px;
		width: 0;
		background: white;

		transition: 0.3s;
	}

	.floating-label {
		color: $placeholder;
		font-size: 1.25em;
		position: absolute;
		pointer-events: none;
		left: 1.5em;
		top: 0.4em;
		transition: 0.3s;
		z-index: 1;
	}
}

a {
	cursor: pointer;
	color: black;
	text-decoration: none;
	font-weight: bold;

	&.highlight {
		color: $highlight;
	}
}

h1 {
	font-size: 4em;
	font-weight: bold;
	margin: 0;
}

h2 {
	@extend h1;
	font-size: 3em;
	// font-weight: bold;
	// margin: 0;

	&.highlight {
		color: $highlight;
	}
}

h3 {
	&:not(.nolink) {
		@include noselect();
		cursor: pointer;
		color: $unselected;
		transition: 0.2s;
	}

	&:hover,
	&.highlight {
		color: $highlight;
	}

	font-size: 2em;
	margin: 0;
}

h4 {
	@extend h1;
	font-weight: 500;
	font-size: 1.5em;
}

h5 {
	@extend h4;
	font-size: 1em;
	color: $subtext;
}

i {
	@include noselect();
	color: black;
	position: absolute;

	&.tablesort {
		top: 50%;
		transform: translateY(-50%);
	}
}

.sidebar {
	position: relative;
	display: inline-block;

	width: 8em;
	height: calc(100% - 4em);

	padding-top: 4em;

	transition: 0.5s;

	&.open {
		width: 40em;
	}

	// the menu icon
	.menu {
		font-size: 2em;
		cursor: pointer;
		position: absolute;
		right: 1em;
		top: 3em;
	}

	.menu-content {
		position: absolute;

		h2 {
			margin: 0;
			margin-top: 0.1em;
			margin-bottom: 0.1em;

			transition: 0.3s;
			&:hover {
				margin-left: 0.25em;
			}
		}

		left: -16em;
		&.open {
			left: 6em;
		}
		transition: 0.5s;
	}
}

// this is the real page content (not the sidebar)
.content {
	display: inline-block;
	width: calc(100% - 12em);
	height: calc(100% - 4em);
	padding-top: 4em;
	padding-right: 6em;
}

table {
	text-align: left;
	width: 100%;
	margin-top: 1em;
	thead {
		@include noselect();
		tr {
			height: 2em;
			th {
				font-size: 2em;
				cursor: pointer;
				position: relative;

				transition: 0.2s;
				&:hover {
					color: $highlight;
				}

				&:last-of-type {
					text-align: right;
				}
			}
		}
	}
	tbody {
		tr {
			height: 2em;
			font-size: 1.7em;
			transition: 0.2s;
			cursor: pointer;

			&:hover {
				color: $highlight;
			}

			td:last-of-type {
				text-align: right;
			}
		}
	}
}

.quarter-selector {
	position: absolute;
	top: 4em;
	right: 6em;

	a {
		color: $unselected;
		font-size: 3.5em;
		margin-left: 0.5em;

		&:hover,
		&.highlight {
			color: $highlight;
		}
		transition: 0.3s;
	}

	h1 {
		display: inline-block;
	}
}

.grades-chart {
	display: inline-block;
	width: calc(100% - 36em);
	height: calc(100% - 14em);
	padding-left: 4em;
	padding-top: 3em;
}

.course-info-pane {
	.assignments-pane {
		height: calc(100% - 14em);
		overflow: hidden;

		.assignments-content {
			height: calc(100% - 4em);
			width: calc(100%);
			padding-right: 15px;
			overflow-y: scroll;
			overflow-x: hidden;
		}
	}

	.type-selector {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		h3 {
			display: inline-block;
		}
	}
	vertical-align: top;
	position: relative;
	display: inline-block;
	height: calc(100% - 8em);
	width: 32em;
	padding-top: 2em;
}

.final-grades {
	position: absolute;
	bottom: 4em;
	right: 0;
	text-align: right;

	.unselected {
		color: #ccc;
	}
}

.assignment {
	margin-top: 0.5em;
	.assignment-main {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: top;

		.assignment-date {
			display: inline-block;
			padding-top: 0.2em;
			width: 5.5em;
		}

		.assignment-info {
			display: inline-block;
			flex-grow: 2;

			.assignment-name-grade {
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				.assignment-name {
					cursor: pointer;
					display: block;
					white-space: nowrap;
					// height: 1.5em;
					&::-webkit-scrollbar {
						display: none;
					}
					// TODO: firefox needs to hide the scrollbar
					overflow-x: auto;
					margin-right: 0.5em;
				}

				.assignment-grade {
					display: block;
				}
			}

			.assignment-category {
				z-index: -1;
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				h5 {
					display: block;
				}

				.assignment-category-name {
					cursor: pointer;
				}

				.assignment-fraction {
					h5 {
						display: inline;
					}

					&.highlight {
						h5 {
							color: $highlight;
						}
					}
				}
			}
		}
	}

	.assignment-comments {
		padding-left: calc(6.5em + 12px);
		height: 0;
		min-height: 0;
		overflow: hidden;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: top;
		transition: 0.2s;

		&.expanded {
			min-height: 5em;
		}

		.assignment-comments-content {
			display: inline-block;
			width: 20em;
		}

		.assignment-controls {
			display: inline-block;
			width: 2em;

			.assignment-action {
				cursor: pointer;
				margin-top: 0.3em;
			}
		}

		i {
			position: relative;
		}

		p {
			margin-top: 0;
		}
	}
}

.category {
	margin-top: 0.5em;
	.category-name-grade {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;

		.category-name {
			display: inline-block;
			white-space: nowrap;
			// height: 1.5em;
			&::-webkit-scrollbar {
				display: none;
			}
			overflow-x: auto;
			margin-right: 0.5em;
		}

		.category-grade {
			display: inline-block;
		}
	}

	.category-details {
		z-index: -1;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		h5 {
			display: block;
		}
	}
}

.editable-input {
	border: none;
	outline: none;
	font-family: 'Sofia-Pro';
	font-size: 1.5em;
	font-weight: 500;
	display: block;

	text-align: right;

	&.enabled {
		width: 2em;
		border-bottom: 3px solid $highlight;
	}

	&.small {
		display: inline;
		width: 1em;
		font-size: 1em;
	}
}

.dropdown-list {
	list-style: none;
	box-shadow: $shadowIdle;
	border-radius: 1em;
	position: absolute;
	z-index: 1000;

	padding: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin: 0;
}
