@font-face {
  font-family: Sofia-Pro;
  src: url(assets/sofia_pro_bold-webfont.woff2);
  font-weight: 700;
}
@font-face {
  font-family: Sofia-Pro;
  src: url(assets/sofia_pro_regular-webfont.woff2);
  font-weight: 400;
}
@font-face {
  font-family: Sofia-Pro;
  src: url(assets/sofia_pro_medium-webfont.woff2);
  font-weight: 500;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Sofia-Pro";
  font-size: 16px;
  color: #000;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
}
body .fullsize {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
body .cover {
  background-image: url("./assets/cover.svg");
  background-size: 110%;
  background-position: center;
}
body .allcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.highlight {
  color: #527aff !important;
}

.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  background: #527aff;
  color: white;
  position: relative;
  display: inline-block;
  font-size: 1.5em;
  height: 1.5em;
  margin: 0.5em;
  padding: 0 2em 0 2em;
  border-radius: 0.75em;
  border: none;
  transition: 0.2s ease box-shadow;
  box-shadow: 1px 2px 8px #00000060;
}
.button:hover {
  box-shadow: 1px 3px 12px #00000060;
}
.button:active {
  box-shadow: 1px 2px 8px #00000060;
}
.button .loading-spinner {
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.375em;
  opacity: 0;
  transition: opacity 0.2s;
}
.button .loading-spinner.on {
  opacity: 1;
  transition: opacity 0.2s;
}
.button .loading-spinner:after {
  content: " ";
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff #fff #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logowrapper {
  position: absolute;
  left: 50%;
  bottom: 2em;
}
.logowrapper img {
  height: 1em;
  position: relative;
  left: -50%;
}

.logo {
  width: 16em;
}

.textbox {
  position: relative;
  margin-top: 1em;
}
.textbox input {
  border: 3px solid #bdbdbd;
  border-radius: 2em;
  outline: none;
  font-family: "Sofia-Pro";
  transition: 0.3s;
  box-shadow: none;
  outline: none;
  font-size: 1em;
  width: 16em;
  padding: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
  height: calc(2.5em - 8px);
}
.textbox input:focus, .textbox input:not(:focus):valid {
  transition: 0.3s;
  border: 3px solid #527aff;
}
.textbox input:focus ~ .floating-label, .textbox input:not(:focus):valid ~ .floating-label {
  color: #527aff;
  top: -0.75em;
  height: 1em;
  left: 2.5em;
  font-size: 1em;
  z-index: 1;
}
.textbox .blocker {
  position: absolute;
  top: 0;
  left: 2em;
  height: 3px;
  width: 0;
  background: white;
  transition: 0.3s;
}
.textbox .floating-label {
  color: #828282;
  font-size: 1em;
  position: absolute;
  pointer-events: none;
  left: 1.5em;
  top: 0.5em;
  transition: 0.3s;
  z-index: 1;
}

a {
  cursor: pointer;
  color: #bdbdbd;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}
a:hover {
  color: #527aff;
}

h1, h4, h5, h2 {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  margin: 0;
}
h3:not(.nolink) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  color: #bdbdbd;
  transition: 0.2s;
}
h3:hover {
  color: #527aff;
}
h3.back {
  display: table;
  font-size: 1em;
}

h4, h5 {
  font-weight: 500;
  font-size: 1em;
}

h5 {
  font-size: 0.8em;
  color: #cccccc;
}

i {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: black;
  position: absolute;
}
i.tablesort {
  top: 50%;
  transform: translateY(-50%);
}
i.projection-control {
  position: relative;
  color: #bdbdbd;
  font-size: 32px;
  transition: ease color 0.2s;
  cursor: pointer;
  margin: 0 0.25em 0 0.25em;
}
i.projection-control:hover {
  color: #527aff;
}

.sidebar {
  position: relative;
  display: inline-block;
  width: 8em;
  height: calc(100% - 4em);
  padding-top: 4em;
  transition: 0.5s;
}
.sidebar.open {
  width: 24em;
}
.sidebar .menu {
  font-size: 2em;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 2.5em;
}
.sidebar .menu-content {
  position: absolute;
  left: -16em;
  transition: 0.5s;
}
.sidebar .menu-content h2 {
  margin: 0;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
.sidebar .menu-content.open {
  left: 6em;
}

.content {
  display: inline-block;
  width: calc(100% - 12em);
  height: calc(100% - 4em);
  padding-top: 4em;
  padding-right: 6em;
}

table {
  text-align: left;
  width: 100%;
  margin-top: 1em;
  height: auto;
}
table thead {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
table thead tr {
  height: 1.5em;
}
table thead tr th {
  font-size: 1.5em;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}
table thead tr th:hover {
  color: #527aff;
}
table thead tr th:last-of-type {
  text-align: right;
}
table tbody {
  overflow-y: auto;
}
table tbody tr {
  height: 1.5em;
  font-size: 1.3em;
  transition: 0.2s;
  cursor: pointer;
}
table tbody tr:hover {
  color: #527aff;
}
table tbody tr td:last-of-type {
  text-align: right;
}

.quarter-selector {
  position: absolute;
  top: 4em;
  right: 6em;
}
.quarter-selector a {
  font-size: 2.5em;
  margin-left: 0.5em;
}
.quarter-selector h1, .quarter-selector h2, .quarter-selector h4, .quarter-selector h5 {
  display: inline-block;
}

.grades-chart {
  display: inline-block;
  width: calc(100% - 26em);
  height: calc(100% - 7em);
  padding-left: 2em;
}

.course-info-pane {
  vertical-align: top;
  position: relative;
  display: inline-block;
  height: calc(100% - 7em);
  width: 24em;
}
.course-info-pane .assignments-pane {
  margin-top: 0.5em;
  height: calc(100% - 7em);
  overflow: hidden;
}
.course-info-pane .assignments-pane .assignments-content {
  height: calc(100% - 2em);
  width: calc(100%);
  padding-right: 15px;
  margin-top: 0.5em;
  overflow-y: auto;
  overflow-x: hidden;
}
.course-info-pane .type-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.final-grades {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}
.final-grades .unselected {
  color: #ccc;
}
.final-grades h3 {
  margin-top: -0.5em;
}

.assignment.last {
  margin-bottom: 1em;
}
.assignment .assignment-main {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: top;
}
.assignment .assignment-main .assignment-date {
  display: inline-block;
  padding-top: 0.2em;
  width: 5.5em;
}
.assignment .assignment-main .assignment-info {
  display: inline-block;
  flex-grow: 2;
}
.assignment .assignment-main .assignment-info .assignment-name-grade {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.assignment .assignment-main .assignment-info .assignment-name-grade .assignment-name {
  max-width: calc(15.875em - 58.08px);
  cursor: pointer;
  display: block;
  white-space: nowrap;
  overflow-x: auto;
  margin-right: 0.5em;
}
.assignment .assignment-main .assignment-info .assignment-name-grade .assignment-name::-webkit-scrollbar {
  display: none;
}
.assignment .assignment-main .assignment-info .assignment-name-grade .assignment-name.gray {
  color: #888;
}
.assignment .assignment-main .assignment-info .assignment-name-grade .assignment-grade {
  display: block;
}
.assignment .assignment-main .assignment-info .assignment-category {
  z-index: -1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.assignment .assignment-main .assignment-info .assignment-category .assignment-category-name {
  cursor: pointer;
}
.assignment .assignment-main .assignment-info .assignment-category .assignment-fraction h5 {
  display: inline;
}
.assignment .assignment-comments {
  padding-left: calc(6.5em + 12px);
  height: 0;
  min-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  transition: 0.2s;
}
.assignment .assignment-comments.expanded {
  min-height: 5em;
}
.assignment .assignment-comments .assignment-comments-content {
  display: inline-block;
  width: 20em;
}
.assignment .assignment-comments .assignment-controls {
  display: inline-block;
  width: 2em;
}
.assignment .assignment-comments .assignment-controls .assignment-action {
  cursor: pointer;
  margin-top: 0.3em;
}
.assignment .assignment-comments i {
  position: relative;
}
.assignment .assignment-comments p {
  margin-top: 0;
}

.category {
  margin-top: 0.5em;
}
.category .category-name-grade {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.category .category-name-grade .category-name {
  display: inline-block;
  white-space: nowrap;
  overflow-x: auto;
  margin-right: 0.5em;
}
.category .category-name-grade .category-name::-webkit-scrollbar {
  display: none;
}
.category .category-name-grade .category-grade {
  display: inline-block;
}
.category .category-details {
  z-index: -1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editable-input {
  border: none;
  outline: none;
  font-family: "Sofia-Pro";
  font-size: 1em;
  font-weight: 500;
  display: block;
  text-align: right;
}
.editable-input.enabled {
  width: 4em;
  border-bottom: 3px solid #527aff;
}
.editable-input.small {
  display: inline;
  font-size: 0.8em;
}
.editable-input.small.enabled {
  width: 1em;
}
.editable-input.gray {
  color: #888;
}

.dropdown-list {
  list-style: none;
  box-shadow: 1px 2px 8px #00000060;
  border-radius: 1em;
  padding: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 0.5em 0 0 0;
}
.dropdown-list li {
  cursor: pointer;
  transition: ease color 0.2s;
}
.dropdown-list li:hover {
  color: #527aff;
}

.card {
  margin-top: 1em;
  padding: 1em;
  box-shadow: 1px 2px 8px #00000060;
  border-radius: 1em;
}
.card.deactivate {
  background: #f05056;
}

/*# sourceMappingURL=styles.css.map */
